<!DOCTYPE html>
<html>
<head>
    <title>Shortlinking API Home Page</title>
</head>
<body>
    <h1>
    	Welcome to the API
    </h1>

    <p>
    	Very simple, two endpoints:
    </p>

    <h2>
    	Creating a shortlink
    </h2>

    <code>
    	POST http://localhost:3000/api/shortcode/create?url=http://myurl.com
    </code>


    <h2>
    	Following an existing shortlink
    </h2>

    <code>
    	GET http://localhost:3000/api/shortcode/ec4359b9
    </code>
</body>