$navy: #0F314A;
$white: #FFF;
$orange: #ff6225;
$dark-orange: #f14300;
$black: #000;
$red: #ed001d;
$light-red: #FFF0F0;

$font: 'Lato', sans-serif;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	background: $navy;
	color: $white;
}

input, button, body {
	font-family: $font;
	font-size: 1.25rem;
}

button, input[type="text"] {
	color: $navy;
}

input[type="text"] {
	padding: 0.5rem 0.75rem;
	margin: 0;
	outline-color: $orange;
	outline-width: 4px;
	min-width: 20rem;
	width: auto;

	&.error {
		border: 2px dashed $red;
		background: $light-red;
	}
}

button {
	margin-left: 0.5rem;
	padding: 0.65rem;
	background: $orange;
	color: $white;
	border: 0;

	&:hover {
		cursor: pointer;
		background: $dark-orange;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: $orange;
	}
}

.url-shortener {
	vertical-align: middle;
	line-height: 1rem;

	.result {
		display: block;
		max-width: 30rem;
		margin-top: 2rem;
		color: $white;
		border: 1px dashed $white;
		padding: 1rem;
		min-height: 3rem;
		height: auto;

		p {
			line-height: 1;
			margin: 0;
		}
	}
}